@model IEnumerable<UniversityBuildings.Models.Hospital_Buildings>
@{
    var currentlg = ViewBag.currentLanguage;
}

@{
    if (currentlg == "en")
    {
        <div class="container">
            <div style="align-items:center;margin-top:2rem" class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div style="margin-bottom:2rem" class="card border-danger">
                            <div class="card-body">
                                <h3 class="card-title">@Html.DisplayFor(modelItem => item.Hospital_NameEN)</h3>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Hospital_SectionsEN)</p>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Hospital_Manager_NameEN)</p>
                                <a href="~/use/HospitalLearnMore?id=@item.ID" class="btn btn-outline-primary">Learn More <i class="fa fa-newspaper-o"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div style="align-items:center;direction:rtl; margin-top:2rem" class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div style="margin-bottom:2rem" class="card border-danger text-right">
                            <div class="card-body">
                                <h3 style="font-family:'Droid Arabic Kufi'" class="card-title">@Html.DisplayFor(modelItem => item.Hospital_Name)</h3>
                                <p style="font-family:'Droid Arabic Kufi'" dir="rtl" class="card-text">@Html.DisplayFor(modelItem => item.Hospital_Sections)</p>
                                <p style="font-family:'Droid Arabic Kufi'" dir="rtl" class="card-text">@Html.DisplayFor(modelItem => item.Hospital_Manager_Name)</p>
                                <a style="font-family:'Droid Arabic Kufi'" href="~/use/HospitalLearnMore?id=@item.ID" class="btn btn-outline-primary">معرفة المزيد <i class="fa fa-newspaper-o"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}


