@model UniversityBuildings.Models.Attachments
@{
    var currentlg = ViewBag.currentLanguage;

    if (currentlg == "en")
    {
        ViewBag.Title = "Learn More For Attachment Buildings";
    }
    else
    {
        ViewBag.Title = "معرفة المزيد عن المبنى الملحق";
    }
    Layout = "~/Views/Shared/_Master.cshtml";
}

@if (currentlg == "en")
{
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>@Html.DisplayFor(model => model.Att_NameEN)</h2>
                <div class="row">
                    <div style="margin-bottom:1rem" class="col-md-12">
                        <h3>
                            <strong>Hello</strong> and Welcome to @Html.DisplayFor(model => model.Att_NameEN), It`s one of the
                            most excellent building in Minia University. Its relatde to @Html.DisplayFor(model => model.Att_Section_NameEN) .
                        </h3>
                    </div>
                </div>
                <br />
                <hr />
                <h1>Lets go to the Details of our Faculty:-</h1>
                <h4>@Html.DisplayFor(model => model.Att_DetailsEN) And it enjoys with a special Location.</h4>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box wow fadeInLeft">
                            <h4 class="title">Vision of @Html.DisplayFor(model => model.Att_NameEN)</h4>
                            <h5>@Html.DisplayFor(model => model.Att_VisionEN)</h5>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow fadeInRight">
                            <h4 class="title">Message of @Html.DisplayFor(model => model.Att_NameEN)</h4>
                            <h5>@Html.DisplayFor(model => model.Att_MessageEN)</h5>
                        </div>
                    </div>
                </div>
                <hr />
                @{
                    if (Model.Att_Is_Inside == true)
                    {
                        <p>The Building is inside the Faculty.</p>
                    }
                    else
                    {
                        <p>The Building is outside the Faculty.</p>
                    }
                }
                <br />
                <h1>Some Calculations for The Building:-</h1>
                <p>
                    @Html.DisplayFor(model => model.Att_NameEN) contains @Html.DisplayFor(model => model.Att_Floors_Number) floors, 
                    and @Html.DisplayFor(model => model.Att_Stages_Number) stages in it.
                </p>
                <br />
                <p>
                    The Place of it is @Html.DisplayFor(model => model.Att_Place_of_itEN) .
                </p>
            </div>
            <p>
                @Html.ActionLink("Go Back", "Index")
            </p>
        </div>
    </section>
}
else
{
    <section id="services">
        <div class="container">
            <div dir="rtl" class="section-header">
                <h2 style="text-align:right; font-family:'Droid Arabic Kufi'">@Html.DisplayFor(model => model.Att_Name)</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <p dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:right">أهلا وسهلا بكم في @Html.DisplayFor(model => model.Att_Name). يعد المبنى واحد من المباني المتميزة داخل جامعة المنيا.</p>
                            <p dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:right">وهو مرتبط بـ @Html.DisplayFor(model => model.Att_Section_Name).</p>
                        </div>
                    </div>
                <br />
            </div>
            <h1 dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:right">هيا بنا لمعرفة بعض التفاصيل المتعلقة بملحق الكلية:-</h1>
            <p dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:center">@Html.DisplayFor(model => model.Att_Details) ويتمتع المبنى بمكان مميز للغاية.</p>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <h4 style="font-family:'Droid Arabic Kufi';text-align:right" class="title">رؤية @Html.DisplayFor(model => model.Att_Name)</h4>
                        <h5 style="font-family:'Droid Arabic Kufi';text-align:right">@Html.DisplayFor(model => model.Att_Vision)</h5>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <h4 style="font-family:'Droid Arabic Kufi';text-align:right" class="title">رسالة @Html.DisplayFor(model => model.Att_Name)</h4>
                        <h5 style="font-family:'Droid Arabic Kufi';text-align:right">@Html.DisplayFor(model => model.Att_Message)</h5>
                    </div>
                </div>
            </div>
            <hr />
            @{
                if (Model.Att_Is_Inside == true)
                {
                    <p dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:right">يقع المبنى داخل محيط الكلية</p>
                }
                else
                {
                    <p dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:right">يقع المبنى خارج محيط الكلية</p>
                }
            }
            <br />
            <h1 dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:right">بعض الاحصاءات المتعلقة بالكلية:-</h1>
            <p dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:center">
                @Html.DisplayFor(model => model.Att_Name) تحتوي على 
                @Html.DisplayFor(model => model.Att_Floors_Number) دور
                و @Html.DisplayFor(model => model.Att_Stages_Number) مدرج بداخله .
            </p>
            <br />
            <p dir="rtl" style="font-family:'Droid Arabic Kufi';text-align:right">
                يقع مكان المبنى في @Html.DisplayFor(model => model.Att_Place_of_it) .
            </p>
            <p style="font-family:'Droid Arabic Kufi';text-align:right">
                @Html.ActionLink("الرجوع", "Index",null,new { style= "font-family:'Droid Arabic Kufi'" })
            </p>
        </div>
    </section>
}
